.tabl {
  font-family: Sans-Serif;
  margin: 5px;
  border-collapse: collapse;
  color: #467b85;
  width: 600px;
}.tabl th {
  text-align: center;
  padding: 8px 2px;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #5e7185;
}.tabl th:first-child {
  border-bottom: 0px;
}.tabl td {
  text-align: right;
  font-size: 12px;
  padding: 12px 5px 0px 5px;
  width: 80px;
}
.eps {
  margin-left: 5px;
  vertical-align: -1px;
  display: inline;
  font: 14px sans-serif;
}
input[type="range"]{
  background: #41abff;
  width: 120px;
  height: 5px;
  -webkit-appearance: none;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -wekkit-border-radius: 8px;
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
  -moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}
input[type="range"]:hover{
  background: #b5daff;
}
input[type="range"]::-webkit-slider-thumb{
 -webkit-appearance:none !important;  
 width:20px;
 height:15px;
 -webkit-appearance: none;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -wekkit-border-radius: 8px;
  border:1px solid black;
  background: #aaaaff;
}
input[type="range"]::-webkit-slider-thumb:hover{
  background: #839db8;
}
